.App {
  background: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-image: url("bg.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: "Ubuntu", sans-serif;
}